.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
*.tfplan.*
*.tfstate.backup
*.tfstate.backup.*
*.tfstate.old
*.tfstate.old.*
*.tfstate.new
*.tfstate.new.*
*.tfstate.json

.DS_Store